<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Joel Spinelli</title>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <div class="cabecalho">
      <main>
        <h1>Joel Spinelli
        </h1>
      </main>
      <section class="social">
        <ul class="social-lista">
          <li class="social-lista-item mobile-1"><a class="social-lista-item__linkedin" href="https://linkedin.com/in/joelspinelli" target="_blank"><img src="img/linkedin.svg" alt="linkedin.com/in/joelspinelli"></a></li>
          <li class="social-lista-item mobile-1"><a class="social-lista-item__github" href="https://github.com/JoelSpinelli" target="_blank"><img src="img/github.svg" alt="github.com/JoelSpinelli"></a></li>
          <li class="social-lista-item mobile-1"><a class="social-lista-item__twitter" href="https://twitter.com/joelspinelli" target="_blank"><img src="img/twitter.svg" alt="twitter.com/joelspinelli"></a></li>
        </ul>
      </section>
    </div>
  </div>
  <script>
    fetch("https://checkip.amazonaws.com/").then(res => res.text()).then(data => console.log(data))
  </script>
</body>

</html>