<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Joel Spinelli</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body class="container">
  <div class="cabecalho">
    <header>
      <h1 class="cabecalho__titulo">Joel Spinelli</h1>
      <h2 class="cabecalho__subtitulo">Desenvolvedor Node.js e Front-End</h2>
    </header>
    <div class="redesSociais">
      <div class="redesSociais__links"><a class="redesSociais__links--linkedin" href="https://linkedin.com/in/joelspinelli" target="_blank">LinkedIn</a></div>
      <div class="redesSociais__links"><a class="redesSociais__links--github" href="https://github.com/JoelSpinelli" target="_blank">GitHub</a></div>
      <div class="redesSociais__links"><a class="redesSociais__links--twitter" href="https://twitter.com/joelspinelli" target="_blank">Twitter</a></div>
    </div>
  </div>
</body>

</html>