<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Joel Spinelli</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body class="container">
  <div class="cabecalho">
    <header>
      <h1 class="cabecalho__titulo">Joel Spinelli</h1>
      <h2 class="cabecalho__subtitulo"><i>Desenvolvedor Node.js e Front-End</i></h2>
    </header>
    <div class="redesSociais">
      <ul>
        <li><a class="redesSociais__links" href="https://linkedin.com/in/joelspinelli" target="_blank">LinkedIn</a></li>
        <li><a class="redesSociais__links" href="https://github.com/JoelSpinelli" target="_blank">GitHub</a></li>
        <li><a class="redesSociais__links" href="https://twitter.com/joelspinelli" target="_blank">Twitter</a></li>
      </ul>
    </div>
  </div>
  <section class="apresentacao">
    <p>
      Olá, eu sou Joel, sou formado em Engenharia da Computação e atualmente
      trabalho com desenvolvimento Node e Front-end na Netshoes.
    </p>
    <p>
      Trabalho com desenvolvimento desde os meus 20 anos, quando entrei em uma consultoria que
      desenvolvia softwares financeiros. Também já trabalhei como instrutor de informática, ensinando
      Office 2003 e 2007, Windows XP e Vista e um pouco de hardware.
    </p>
  </section>
</body>

</html>