* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #000d70;
  color: #4D61FF;
  text-align: center;
}

.cabecalho__titulo {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3em;
  margin: 1em 0;
  color: #fff;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

h2 {
  font-size: 1em;
  margin-bottom: 2em;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #fff,
      0 0 40px #001EFF,
      0 0 70px #001EFF,
      0 0 80px #001EFF,
      0 0 100px #001EFF,
      0 0 150px #001EFF;
  }
  to {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px #fff,
      0 0 20px #001EFF,
      0 0 35px #001EFF,
      0 0 40px #001EFF,
      0 0 50px #001EFF,
      0 0 75px #001EFF;
  }
}