* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.cabecalho {
  background-color: #1F203E;
  overflow: auto;
}

.cabecalho__titulo {
  font-size: 2rem;
  text-align: center;
  color: white;
  margin: 0;
  padding: 1rem 0 .5rem 0; 
}

.cabecalho__subtitulo {
  font-size: 1rem;
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 1rem 0 .5rem 
}

.redesSociais {
  margin: 1rem;
  display: flex;
  border: .1rem solid white;
  border-radius: .3rem;
}

.redesSociais__links {
  width: 33.33%;
  text-align: center;
  padding: .2rem 0;
}

.redesSociais__links a{
  text-decoration: none;
  color: white;
}

.redesSociais__links:nth-child(2) {
  border-left: .1rem solid white;
  border-right: .1rem solid white;
}

.apresentacao {
  padding: 3rem 1rem 1rem 1rem;
  line-height: 1.8rem;
  color: #707070;
}